.chat-message {
    height: 80vh;
    Width: 100%;
    overflow-y: auto;
    padding-top: 20px;
    margin-bottom: 10px;
}

.chat-tools {
    display: flex;
    align-items: center;
    height: 8vh;
    Width: 100%;
    margin-top: 20px;
    padding-bottom: 25px
}
