.chat-message {
    height: 80vh;
    Width: 100%;
    overflow-y: auto;
    padding-top: 20px;
    margin-bottom: 10px;
}

.question {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.answer {
    display: flex;
}

.chat-tools {
    display: flex;
    align-items: center;
    height: 18vh;
    Width: 100%;
    padding-bottom: 40px
}
