@page "/"

@inject NavigationManager _navigation

<PageTitle>码术</PageTitle>

<MudGrid Class="mt-10" Spacing="6">
    <MudItem xs="6">
        <div class="tile" @onclick="@(()=>DoNavigate("/app"))">
            <div class="item">
                找开源软件或组件？
            </div>
        </div>
    </MudItem>
    <MudItem xs="6">
        <div class="tile" @onclick="@(()=>DoNavigate("/chat"))">
            <div class="item">
                体验下 ChatGPT 对话？
            </div>
        </div>
    </MudItem>
    <MudItem xs="6">
        <div class="tile" @onclick="@(()=>DoNavigate("/hash"))">
            <div class="item">
                需要计算哈希值？
            </div>
        </div>
    </MudItem>
    <MudItem xs="6">
        <div class="tile">
            <div class="item">
                更多内容？开发中~~
            </div>
        </div>
    </MudItem>
</MudGrid>

@code{

    private void DoNavigate(string uri)
    {
        _navigation.NavigateTo(uri);
    }

}